
.body-container{
    padding-left:15%;
    padding-right:15%;
    padding-top: 1.5%px;
    color: #404040;
    text-align: left;
    font-size: 14px;
	line-height: 1.6em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }

ul.breadcrumb {
    padding-left:15%;
    padding-right:15%;
    padding-top:5px;
    font-size: 14px;
    height: 10px;
    list-style: none;
    color: #404040;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

ul.breadcrumb li {
    right: 0;
    display: inline;
    color: #01447e;
    font-size: 100%;
}

ul.breadcrumb li+li:before {
    right: 0;
    display: inline;
    color: #01447e;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    font-size: 100%;
    text-decoration: none;
}

#navWrap{
right:15%;
}


img{
  position:absolute;
  left:11%;
  top:2.5%;
  }

hr {
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1.5%;
  margin-bottom: 1%;
  border-style: inset;
  border-width: 1px;
}

.button {
  border: 1px solid black;
  border-color: #cccccc;
  background: none;
  border-radius: 5px;
  color: #0275d8;
  font-size: 12px;
  cursor: pointer;
}

#page-container {
  position: relative;
  min-height: 60vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


footer {
  text-align:center;
  font-size: 14px;
  color: #4d4d4d;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
